DATABASE_HOST=hi
DATABASE_DIALECT=db
DATABASE_USER=user
DATABASE_PASSWORD=pass
DATABASE_NAME=nameDB
GOOGLE_EMAIL=carlossedagambin@gmail.com
GOOGLE_CLIENT_ID=notelavoyadecir
GOOGLE_CLIENT_SECRET=notelavoyadecir
GOOGLE_REFRESH_TOKEN=notelavoyadecir
JWT_SECRET=palabrasecreta